
      {{> header}}


      <div class="row my-4 p-2 ">
          <h1>{{todo.title}}</h1>
        
        {{!-- <div class="card col-md-3 m-2" >
          <a href="./todos/{{this._id}}" class="text-decoration-none">
              <div class="card-body">
                <h4 class="card-title">{{this.title}} </h4>
                <p class="card-text">{{this.description}}</p>
              </div>
          </a>
        </div> --}}
      </div>


      {{> footer}}